@media screen and (max-width: 1000px){

}

ol, ul {
    list-style: none;
}

#Menu {
    margin: 0;
    width: 1000px;
    font-family: sans-serif;
}

#Menu li{
    display: block;
    width: 142px;
    float: left;
   
}

#Menu a {
    display: block;
    padding: 5px;
    height: 20px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: smaller; 
    background-color: maroon;
}

#Menu a:hover {
    background-color: red;
    color: gold;
}

#mainImage {
    margin: 20px;
    clear: both;
    float: left;
}

#mainText {
     float: left;
     margin-left: 30px;
     height: 400px;
     width: 600px;
     margin: 20px;
}

#contactUs{
    clear:both;
     width: 994px;
}

footer{
    background-color: maroon;
    width: 994px;
    color: white;
    font-family: sans-serif;
    font-size: small;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}




