#mainbody {
    margin: auto;
    width: 90%;
}

ol,
ul {
    list-style: none;
}

#header img {
    margin: auto;
}

#mobilemenutoggle {
    display: none;
    text-decoration: none;
    color: white;
    background-color: #5A1818;
    font-size: 19px;
    height: 23px;
    padding: 2px;
}

#menu {
    margin: auto;
    width: 100%;
}

#menu li {
    width: 14.2%;
    background-color: #5A1818;
    float: left;
}

#menu li a {
    display: block;
    float: left;
    padding: 5px 5px;
    margin-left: 2px;
    height: 22px;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: small;
    margin-top: 5px;
}

#menu a:hover {
    background-color: #310808;
    color: #ded79c;
}

#mainimage {
    margin-right: 20px;
    margin-top: 20px;
    float: left;
    align-content: center;
    padding: 0.5%;
}

#mainimage img {
    max-width: 100%;
}

#mainimageoptions {
    margin-right: 20px;
    margin-top: 10px;
    float: left;
    align-content: center;
    padding: 0.5%;
}

#mainimageoptions img {
    max-width: 100%;
}

#maintext {
    float: left;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 10px;
}

#winerackoptions {
    display: block;
    clear: both;
    width: 90%;
    margin-top: 20px;
}

#listofoptions {
    float: left;
    width: 50%
}

#listofoptions p span {
    font-weight: bold;
}

#winecellarcooling {
    display: block;
    clear: both;
}

#splitcoolingimage {
    margin-right: 20px;
    margin-top: 10px;
    width: 300px;
    float: left;
    align-content: center;
    padding: 0.5%;
}

#splitcoolingimage img {
    max-width: 100%;
}

#splitcooling {
    float: left;
    width: 50%;
}

#splitcooling span {
    font-weight: bold;
    text-decoration: underline;
}

#clear {
    clear: both;
}

#thruwallimage {
    margin-right: 20px;
    float: left;
    width: 300px;
    align-content: center;
    padding: 0.5%;
}

#thruwallimage img {
    max-width: 100%;
}

#thruwall {
    float: left;
    width: 50%;
}

#thruwall span {
    font-weight: bold;
    text-decoration: underline;
}

#contactus {
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    clear: both;
    float: left;
    width: 33%;
}

#contactus p span {
    font-weight: bold;
}

footer {
    clear: both;
    background-color: #5A1818;
    width: 100%;
    color: white;
    font-family: sans-serif;
    font-size: small;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 678px) {
    #menu li a {
        font-size: 11px;
    }
}

@media screen and (max-width: 600px) {
    #maintext {
        float: none;
        width: 90%;
        margin: auto;
    }
    #mainimage {
        float: none;
        width: 60%;
        margin: auto;
    }
    #contactus {
        float: none;
        width: 90%;
        margin: auto;
        padding: 3%;
    }
    #winerackoptions {
        margin: auto;
    }
    #mainimageoptions {
        float: none;
        margin: auto;
        width: 90%
    }
    #listofoptions {
        float: none;
        margin: auto;
        width: 90%;
    }
    #splitcoolingimage {
        margin: auto;
        float: none;
    }
    #splitcooling {
        margin: auto;
        float: none;
        width: 90%;
    }
    #thruwallimage {
        margin: auto;
        float: none;
    }
    #thruwall {
        margin: auto;
        float: none;
        width: 90%;
    }
    #menu {
        display: none;
    }
    #mobilemenutoggle {
        display: block;
    }
    #menu ul li a {
        display: block;
        padding 4% 0;
    }
    #menu li a {
        font-size: 12px;
        height: 31px;
    }
}




